*{font-family: 'Open Sans', sans-serif;margin:0;padding:0;border-style:border-box;}

header .navbar{
  background:linear-gradient(to right, #ad5389, #3c1053);
}

a{
  color:inherit;
}

@media (min-width: 768px) {
     .navbar {
         height: 60px;
         display: flex;
         align-items: center;
     }
}
@media (max-width: 767px) {
    .navbar-header {
        height: 120px;
        padding-top: 30px;
        padding-bottom: 22px;
    }
    .navbar-toggle {
        margin-top: 25px;
    }
}

.navbar-brand{
  padding:30px;
  font-size:0;
  align-items:initial;
}

.navbar-brand a >img{
	height: 23px;
  filter:drop-shadow(0px 0px 15px rgba(0,0,0,1));
}

nav li a{
  text-transform:uppercase;
  font-size:13px;
  color:#ffffff;
}

header nav ul li a {
  z-index: 1;
  position:relative;
}

header nav ul li a:hover {
  color: #ffffff;
}

header nav ul li a:after {
  display: block;
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100% !important;
  height: 1px;
  content: '.';
  color: transparent;
  background:rgb(0,0,0,0.4);
  visibility: none;
  opacity: 0;
  z-index: -1;
}

header nav ul li .nav-link:hover:after {
  opacity: 1;
  visibility: visible;
  height: 60px;
}
/* Search */

#search-box{
  padding:40px;
}

.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 32px;
  border-radius: 15px;
  padding: 6px;
  align-items:center;
}

.search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 15px;
  transition: width 0.4s linear;
  font-size:15px;
}

.search_input::placeholder{
  color:white;
}

.searchbar:hover{
  background: #6F4081;
  border-radius:15px;
}

.searchbar:hover > .search_input{
  padding: 0 10px;
  width: 150px;
  transition: width 0.4s linear;
  align-items: center;
}

.searchbar:hover > .search_icon{
  margin:auto 10px;
  color: #ffffff;
  text-decoration:none;
  display: flex;
  align-items:center;
}

.search_icon{
  height: 20px;
  width: 20px;
  margin: auto 10px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:#ffffff;
}

/* navbar login */

.navbar-login{
  float:right;
  display:flex;
  margin: auto 0;
  margin-left:15px;
  margin-right: 40px;
  justify-content: center;
  color:;
}

.navbar-login ul li a{
  text-decoration:none;
  text-transform:uppercase;
  font-size:13px;
}

nav .dropdown-menu{
  background-color: #3c1053;
}

nav .dropdown-item{
  color:#ffffff;
}


/* carousel */

.carousel-item{
  width:100%;
}

.carousel-item img{
  width:100%;
  opacity:0.8;
}

.owl-carousel .item{
  margin: 0.5rem;
  width: 8rem;
  height: auto;
}

a:hover{
  text-decoration:none;
}

.footer-list{
	display:inline;
}

/* espacio entre header y body */

#catalogo,#library,#lectura,.container{
  padding:1.5rem 3.6rem;
}

/* libros */
ul > li{margin-right:25px;font-weight:lighter;cursor:pointer}
li.active{border-bottom:3px solid silver;}

.item-photo{height:300px;display:flex;justify-content:center;align-items:center;margin-right:30px;}
.menu-items{list-style-type:none;font-size:11px;display:inline-flex;margin-bottom:0;margin-top:20px}
.btn-leer{width:100%;border-radius:0;background-color:#ad5389;color:#ffffff;}
.section{width:100%;margin-left:-15px;padding:2px;padding-left:15px;padding-right:15px;background:#f8f9f9}
.title-price{margin-top:30px;margin-bottom:0;color:black}
.title-attr{margin-top:0;margin-bottom:0;color:black;}
.btn-minus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0;}
.btn-plus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0;}
div.section > div {width:100%;display:inline-flex;}
div.section > div > input {margin:0;padding-left:5px;font-size:10px;padding-right:5px;max-width:18%;text-align:center;}
.attr,.attr2{cursor:pointer;margin-right:5px;height:20px;font-size:10px;padding:2px;border:1px solid gray;border-radius:2px;}
.attr.active,.attr2.active{ border:1px solid orange;}

@media (max-width: 426px) {
    .container {margin-top:0px !important;}
    .container > .row{padding:0 !important;}
    .container > .row > .col-xs-12.col-sm-5{
        padding-right:0 ;    
    }
    .container > .row > .col-xs-12.col-sm-9 > div > p{
        padding-left:0 !important;
        padding-right:0 !important;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > ul{
        padding-left:10px !important;
        
    }            
    .section{width:104%;}
    .menu-items{padding-left:0;}
}



/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

/* reader */

#bgwhite{
  background-color: white;
}

#bggrey{
  background-color: grey;
}

#bgblack{
  background-color: black;
}

.bgwhite{
  background-color: white
}

.bggrey{
  background-color: grey;
}

.bgblack{
  background-color: black;
  color:white;
}

#capitulo{
  padding-top:1.5rem;
  padding-bottom:1.5rem;
}

/* Login */

/* sign in FORM */
#logreg-forms{
    width:412px;
    margin:10vh auto;
    background-color:#f3f3f3;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}
#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logreg-forms .social-login{
    width:390px;
    margin:0 auto;
    margin-bottom: 14px;
}
#logreg-forms .social-btn{
    font-weight: 100;
    color:white;
    width:190px;
    font-size: 0.9rem;
}

#logreg-forms a{
    display: block;
    padding-top:10px;
    color:lightseagreen;
}

#logreg-form .lines{
    width:200px;
    border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }

#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

.form-signup .social-login{
    width:210px !important;
    margin: 0 auto;
}

/* Mobile */

@media screen and (max-width:500px){
    #logreg-forms{
        width:300px;
    }
    
    #logreg-forms  .social-login{
        width:200px;
        margin:0 auto;
        margin-bottom: 10px;
    }
    #logreg-forms  .social-btn{
        font-size: 1.3rem;
        font-weight: 100;
        color:white;
        width:200px;
        height: 56px;
        
    }
    #logreg-forms .social-btn:nth-child(1){
        margin-bottom: 5px;
    }
    #logreg-forms .social-btn span{
        display: none;
    }
    #logreg-forms  .facebook-btn:after{
        content:'Facebook';
    }
  
    #logreg-forms  .google-btn:after{
        content:'Google+';
    }
    
}